.new-btn {
  border: none;
  font-size: 20px;
  padding: 1%;
  background-color: #ff9c3e;
  border-radius: 5px;
  margin: 1%;
}
.admin-btn {
  display: flex;
}
.new-btn:hover {
  background-color: rgb(78, 145, 233);
}
.list-admin{

 
}