.details {
  background-color: rgb(231, 219, 193);
  max-width: 50%;
  margin: auto;
  margin-bottom: 2px;
  border-radius: 5px;
  padding: 0 5% 0 5%;
}
.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  max-width: 100%;
  margin: auto;
  font-size: 15px;
}
