* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
}
.logo-container,
.links-container {
  display: flex;
}

.logo {
  display: flex;
  margin: 0 10px;
  width: 45px;
  height: 45px;
}
.logo-container {
  flex: 1;

}
.links-container {
  flex: 1;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.nav-links {
  font-weight: bold;
  margin: 0 10px 0 0;
  text-decoration: none;
  background-color: orange;
  padding: 5px;
  border-radius: 5px;
}

.nav-links:hover {
  background-color: orangered;
}
